body {
    background-color: #7184f2;
    font-family: Arial, sans-serif;
}

.DashBoard-container {
    padding: 20px;
}

.Ticket-table { 
    height: auto; 
    margin-top: 20px;
    clear: both; 
}

.ticket-table {
    width: 100%;
    border: 2px solid rgb(102, 4, 4); 
    border-collapse: collapse;
    border-width: 2px;
    background-color: #dbeefc; 
}

.ticket-table th, .ticket-table td {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-emphasis-color: rgb(3, 133, 3);
    border: 1px solid rgb(102, 4, 4);
    padding: 12px;
}

.ticket-table th {
    background-color: #f2f2f2;
}

.btn-view-tickets {
    background-color: #F0FFC2;
    color: black;
    border: 2px solid black; 
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 16px;
    float: right;
}

.btn-filter-tickets {
    background-color: #B5E18B;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: underline;
    text-transform: capitalize;
    text-align: center;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 10px;
    font-size: 16px;
    float: right;
    margin-right: 2px;
}

.DashBoard-container h2 {
    color: #F5FBE6;
    text-align: center;
    margin-bottom: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    text-decoration-line: underline;
}