<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/EmployeeLogin.css') }}">
</head>
<body>
    <h1>Welcome to SmartDesk</h1>
    
    <div class="login-container">
        <h2>Employee Login</h2>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="error-flash">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        
        <form action="{{ url_for('employee_login') }}" method="POST">
            <button type="button" id="moveToAdminLogin" class="adminlogin">
             Admin Login
           </button>

            <div class="form-group">
                <label for="email">Email:</label> 
                <input type="email" id="email" name="email" required>    
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/employeelogin.js') }}"></script>
</body>
</html>